
<div class="container">
<div class="d-flex flex-column align-items-center">
<div class="card; mx-auto;" style="background-color: #eee; width: 300px ;">
      
        <div class="card-body">
          <h5 class="card-title"> {{ content.title }}</h5>
          <p class="card-text">{{ content.details }}</p>
          <a href="{{ linkToEvent }}"  class="btn btn-primary">Open Event</a>
          <!-- <a routerLink="{{ linkToArticle }}" routerLinkActive="active" class="btn btn-primary">Open Event</a> -->
          <!-- <button (click)="goToArticle()" class="btn btn-primary">Article router</button> -->
          <!-- <button (click)="triggerOutput()" class="btn btn-primary">Increment Counter</button> -->    
        </div>
  </div>
</div>
</div>