<!-- 
<nav class="navbar">
    <img scr="https://coursereport-production.imgix.net/uploads/school/logo/45/original/grand-circus-logo.jpg">
    <h1>Welcome to UpMeet</h1>
    <ul>
        <li><a href= "#">Home</a></li>
        <li><a href= "#">Favorites</a></li>
    </ul>
</nav> -->

<nav>
    <img src="https://coursereport-production.imgix.net/uploads/school/logo/45/original/grand-circus-logo.jpg">
    <h1>Welcome to UpMeet</h1>
    <ul>
        <li><a href= "{{linkToHome}}" >Home</a></li>
        <li><a href= "{{linkToFavorites}}">Favorites</a></li>
        <li><a href= "{{addEvent}}">Add an event to UpMeet</a></li>
    </ul>
    
    
</nav>