
<div class="form-group"> 
    <label>Title</label>
    <input type="text"  [(ngModel)]="title">
    
</div>
<div class="form-group"> 
    <label>Date</label>
    <input type="text"  [(ngModel)]="date">
    
</div>
<div class="form-group"> 
    <label>Location</label>
    <input type="text"  [(ngModel)]="location">
        
</div>
<div class="form-group"> 
    <label>Organization</label>
    <input type="text"  [(ngModel)]="organization">
        
</div>
<div class="form-group"> 
    <label>Details</label>
    <input type="text"  [(ngModel)]="details">
        
</div>
<button (click)="newEvent()">Create</button>
